<!DOCTYPE html>
<html>
    <head>
        <title>Test</title>
    </head>
    <body>
        <div>
            <input type = 'button' value = 'create company', onclick = "location.href += 'company'">
        </div>
        <div>
            <input type = 'button' value = 'create normalUser', onclick = "location.href += 'normalUser'">
        </div>
        <div>
            <input type = 'button' value = 'create tag', onclick = "location.href += 'tag'">
        </div>
        <div>
            <input type = 'button' value = 'create product', onclick = "location.href += 'product'">
        </div>

    </body>
</html>