<!DOCTYPE html>
<html>
    <head>
        <title>Test</title>
    </head>
    <body>
        <div>
            <input type = 'button' id = 'btn' value = 'create company', onclick = "showalert('company')">
        </div>
        <div>
            <input type = 'button' id = 'btn' value = 'create normalUser', onclick = "showalert('normalUser')">
        </div>
        <div>
            <input type = 'button' id = 'btn' value = 'create tag', onclick = "showalert('tag')">
        </div>
        <div>
            <input type = 'button' id = 'btn' value = 'create product', onclick = "showalert('product')">
            
        </div>

        <div title = "Create Obj">

            <h1>Create: {{ result }}</h1>
        
        </div>

        <script>
            function showalert(url){
                location.href = '/test/' + url
              }
          </script>

    </body>
</html>
